/* @override 
	http://dev.protectal.pl/wp-content/themes/protectal/css/layout.css?ver=1.0 */

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* #Retina Styles
================================================== */

/*
* Swift Framework Retina Stylesheet v1.0
* Retina Stylesheet for Retina Dislay Devices
* Copyright 2012, Swift Ideas
*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
       	#mobile-navigation > div {
       		background-image: url('../images/select@2x.png');
			background-size: 28px 26px;
       	}
		#header-items ul.social-icons li a, ul.social-icons-small li a  {
			background-image: url('../images/social-icons-small@2x.png');
			background-size: 384px 24px;
		}
		ul.social-icons li a {
			background-image: url('../images/social-icons@2x.png');
			background-size: 512px 32px;
		}
		#respond .form-submit input, .wpcf7 input.wpcf7-submit[type="submit"], a.sf-button .arrow {
			background-image: url('../images/button-arrow@2x.png');
			background-size: 6px 9px;
		}
		a.sf-button.lightgrey .arrow, a.sf-button.green .arrow, a.sf-button.limegreen .arrow {
			background-image: url('../images/button-arrow2@2x.png');
			background-size: 6px 9px;
		}
		.filter-wrap {
			background-image: url('../images/filter-down-arrow@2x.png');
			background-size: 8px 6px;
		}
		.filter-wrap.down {
			background-image: url('../images/filter-up-arrow@2x.png');
			background-size: 8px 6px;
		}
		.widget.flickr-widget li {
			background-image: url('../images/plus-icon@2x.png');
			background-size: 13px 13px;
		}
		.flex-direction-nav a, .wooslider-direction-nav a, .tp-leftarrow, .tp-leftarrow.large, .tp-leftarrow.square, .tp-leftarrow.round, .tp-rightarrow, .tp-rightarrow.large, .tp-rightarrow.square, .tp-rightarrow.round {
			background-image: url('../images/showcase-nav@2x.png');
			background-size: 60px 36px;
		}
		.thumb-slider .flex-direction-nav a {
			background-image: url('../images/slider-thumb-controls@2x.png');
			background-size: 67px 26px;
		}
		.list-add_bw li {
			background-image: url('../images/list-icons/add_b&w@2x.png');
			background-size: 10px 11px;
		}
		.list-add li {
			background-image: url('../images/list-icons/add_colour@2x.png');
			background-size: 10px 11px;
		}
		.list-arrow_bw li {
			background-image: url('../images/list-icons/arrow_b&w@2x.png');
			background-size: 13px 11px;
		}
		.list-arrow li {
			background-image: url('../images/list-icons/arrow_colour@2x.png');
			background-size: 13px 11px;
		}
		.list-article li {
			background-image: url('../images/list-icons/article_b&w@2x.png');
			background-size: 13px 11px;
		}
		.list-bar li {
			background-image: url('../images/list-icons/bar_b&w@2x.png');
			background-size: 11px 4px;
		}
		.list-bolt_bw li {
			background-image: url('../images/list-icons/bolt_b&w@2x.png');
			background-size: 9px 12px;
		}
		.list-bolt li {
			background-image: url('../images/list-icons/bolt_colour@2x.png');
			background-size: 9px 12px;
		}
		.list-date li {
			background-image: url('../images/list-icons/date_b&w@2x.png');
			background-size: 11px 13px;
		}
		.list-delete_bw li {
			background-image: url('../images/list-icons/delete_b&w@2x.png');
			background-size: 10px 10px;
		}
		.list-delete li {
			background-image: url('../images/list-icons/delete_colour@2x.png');
			background-size: 10px 10px;
		}
		.list-dot li {
			background-image: url('../images/list-icons/dot_b&w@2x.png');
			background-size: 7px 7px;
		}
		.list-like_bw li {
			background-image: url('../images/list-icons/like_b&w@2x.png');
			background-size: 12px 11px;
		}
		.list-like li {
			background-image: url('../images/list-icons/like_colour@2x.png');
			background-size: 12px 11px;
		}
		.list-pen li {
			background-image: url('../images/list-icons/pen_b&w@2x.png');
			background-size: 12px 12px;
		}
		.list-question_bw li {
			background-image: url('../images/list-icons/questionMark_b&w@2x.png');
			background-size: 12px 12px;
		}
		.list-question li {
			background-image: url('../images/list-icons/questionMark_colour@2x.png');
			background-size: 12px 12px;
		}
		.list-settings_bw li {
			background-image: url('../images/list-icons/settings_b&w@2x.png');
			background-size: 12px 12px;
		}
		.list-settings li {
			background-image: url('../images/list-icons/settings_colour@2x.png');
			background-size: 12px 12px;
		}
		.list-star_bw li {
			background-image: url('../images/list-icons/star_b&w@2x.png');
			background-size: 12px 12px;
		}
		.list-star li {
			background-image: url('../images/list-icons/star_colour@2x.png');
			background-size: 12px 12px;
		}
		.list-tick_bw li {
			background-image: url('../images/list-icons/tick_b&w@2x.png');
			background-size: 12px 9px;
		}
		.list-tick li {
			background-image: url('../images/list-icons/tick_colour@2x.png');
			background-size: 12px 9px;
		}
		.list-user li {
			background-image: url('../images/list-icons/user_b&w@2x.png');
			background-size: 12px 11px;
		}
		.list-warning_bw li {
			background-image: url('../images/list-icons/warning_b&w@2x.png');
			background-size: 12px 11px;
		}
		.list-warning li {
			background-image: url('../images/list-icons/warning_colour@2x.png');
			background-size: 12px 11px;
		}
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
		/* LAYOUT */
		.full-width {
			width: 744px!important;
		}
		.fullwidth-layout .full-width {
			width: 684px!important;
		}
		.fullwidth-layout .page-heading {
			width: 768px!important;
		}
		.container .sidebar.five.columns {
			width: 159px;
		}
		.container .sidebar.four.columns {
			width: 120px;
		}
		.has-right-sidebar .pagination-wrap, .has-left-sidebar .pagination-wrap {
			width: 524px!important;
		}
		.has-both-sidebars .pagination-wrap {
			width: 392px!important;
		}
		#mini-header {
			width: 724px;
		}
		#header-login form {
			width: 71%;
			height: 36px;
		}
		#header-login #username {
			width: 33%;
			font-size: 14px;
		}
		#header-login #password {
			width: 58%;
			font-size: 14px;
		}
		#header-login .recover-password {
			font-size: 12px;
			line-height: 36px;
		}


		/* PAGE */	
		.page-heading.with-filtering h1 {
			width: 430px;
		}
		
		
		/* PORTFOLIO - NO SIDEBAR */
		.portfolio-items li.four.columns {
			width: 156px;
		}
		.portfolio-items li.four.columns figure, .portfolio-items li.four.columns figure img, .portfolio-items li.four.columns figure iframe {
			width: 156px;
			height: 117px;
		}
		.portfolio-items.masonry-items li.four.columns, .portfolio-items.masonry-items li.four.columns figure, .portfolio-items.masonry-items li.four.columns figure img, .portfolio-items.masonry-items li.four.columns figure iframe {
			width: 156px;
			height: auto;
		}
		.portfolio-items li.four.columns.bordered figure, .portfolio-items li.four.columns.bordered figure img, .portfolio-items li.four.columns.bordered figure iframe {
			width: 144px;
			height: 108px;
		}
		.portfolio-items li.thirds.columns {
			width: 214px;
		}
		.portfolio-items li.thirds.columns figure, .portfolio-items li.thirds.columns figure img, .portfolio-items li.thirds.columns figure iframe {
			width: 214px;
			height: 161px;
		}
		.portfolio-items.masonry-items li.thirds.columns, .portfolio-items.masonry-items li.thirds.columns figure, .portfolio-items.masonry-items li.thirds.columns figure img, .portfolio-items.masonry-items li.thirds.columns figure iframe {
			width: 214px;
			height: auto;
		}
		.portfolio-items li.thirds.columns.bordered figure, .portfolio-items li.thirds.columns.bordered figure img, .portfolio-items li.thirds.columns.bordered figure iframe {
			width: 202px;
			height: 152px;
		}
		.portfolio-items li.eight.columns {
			width: 332px;
		}
		.portfolio-items li.eight.columns figure, .portfolio-items li.eight.columns figure img, .portfolio-items li.eight.columns figure iframe {
			width: 332px;
			height: 249px;
		}
		.portfolio-items.masonry-items li.eight.columns, .portfolio-items.masonry-items li.eight.columns figure, .portfolio-items.masonry-items li.eight.columns figure img, .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 332px;
			height: auto;
		}
		.portfolio-items li.eight.columns.bordered figure, .portfolio-items li.eight.columns.bordered figure img, .portfolio-items li.eight.columns.bordered figure iframe {
			width: 320px;
			height: 240px;
		}
		.portfolio-items li.one-col figure {
			width: 384px;
		}
		.portfolio-items li.one-col.gallery figure {
			width: 684px;
		}
		.portfolio-items li.one-col.gallery.bordered figure {
			width: 672px;
		}
		
		
		/* PORTFOLIO - ONE SIDEBAR */
		.has-one-sidebar .portfolio-items li.four.columns {
			width: 222px;
		}
		.has-one-sidebar .portfolio-items li.four.columns figure, .has-one-sidebar .portfolio-items li.four.columns figure img, .has-one-sidebar .portfolio-items li.four.columns figure iframe {
			width: 222px;
			height: 167px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.four.columns, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure iframe {
			width: 222px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.four.columns.bordered figure, .has-one-sidebar .portfolio-items li.four.columns.bordered figure img, .has-one-sidebar .portfolio-items li.four.columns.bordered figure iframe {
			width: 210px;
			height: 158px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns {
			width: 222px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns figure, .has-one-sidebar .portfolio-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items li.thirds.columns figure iframe {
			width: 222px;
			height: 167px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.thirds.columns, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure iframe {
			width: 222px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns.bordered figure, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure img, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure iframe {
			width: 210px;
			height: 158px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns {
			width: 222px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns figure, .has-one-sidebar .portfolio-items li.eight.columns figure img, .has-one-sidebar .portfolio-items li.eight.columns figure iframe {
			width: 222px;
			height: 167px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.eight.columns, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 222px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.eight.columns.bordered figure, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure img, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure iframe {
			width: 210px;
			height: 158px;
		}
		.has-one-sidebar .portfolio-items li.one-col figure {
			width: 236px;
		}
		.has-one-sidebar .portfolio-items li.one-col .portfolio-item-details {
			width: 208px;
		}
		.has-one-sidebar .portfolio-items li.one-col.gallery figure {
			width: 508px;
		}
		.has-one-sidebar .portfolio-items li.one-col.gallery.bordered figure {
			width: 496px;
		}
		.portfolio-items li.one-col.bordered .portfolio-item-details {
			width: 196px;
		}
		
		
		/* PORTFOLIO - BOTH SIDEBARS */
		.has-both-sidebars .portfolio-items li.eight.columns {
			width: 156px;
		}
		.has-both-sidebars .portfolio-items li.eight.columns figure, .has-both-sidebars .portfolio-items li.eight.columns figure img, .has-both-sidebars .portfolio-items li.eight.columns figure iframe {
			width: 156px;
			height: 117px;
		}
		.has-both-sidebars .portfolio-items.masonry-items li.eight.columns, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure img, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 156px;
			height: auto;
		}
		.has-both-sidebars .portfolio-items li.eight.columns.bordered figure, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure img, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure iframe {
			width: 144px;
			height: 108px;
		}
		.has-both-sidebars .portfolio-items li.one-col.gallery figure, .has-both-sidebars .portfolio-items li.one-col figure, .has-both-sidebars .portfolio-items li.one-col .portfolio-item-details {
			width: 332px;
		}
		.has-both-sidebars .portfolio-items li.one-col.bordered figure {
			width: 352px;
		}
		
		
		/* BLOG */
		.has-both-sidebars .mini-items .blog-item figure {
			width: 332px;
			float: none;
			margin-bottom: 10px;
		}
		.has-one-sidebar .masonry-items .blog-item {
			width: 220px;
		}
		.has-no-sidebar .masonry-items .blog-item {
			width: 212px;
		}
		.has-both-sidebars .masonry-items .blog-item {
			width: 330px;
		}
		.container .related-item.four.columns {
			width: 98px;
		}
		.related-item figure > a {
			width: 98px;
			height: 68px;
		}
		.container .has-both-sidebars .related-item.four.columns, .container .has-no-sidebar .related-item.four.columns {
			width: 156px;
		}
		.has-both-sidebars .related-item figure > a, .has-no-sidebar .related-item figure > a {
			width: 156px;
			height: 108px;
		}
		.author-info {
			width: 79%;
		}
		.has-both-sidebars .author-info {
			width: 70%;
		}
		.pagination-wrap .nav-index {
			margin: 0 12px;
		}
		.fullwidth-layout .pagination-wrap .nav-index {
			margin: 0 28px;
		}
		.has-both-sidebars.pagination-wrap .nav-index {
			margin: 0 22px;
		}
		.has-no-sidebar .pagination-wrap .nav-index {
			margin: 0 25px;
		}
		.has-no-sidebar .blog-pagination .nav-previous, .has-no-sidebar .blog-pagination .nav-index, .has-no-sidebar .blog-pagination .nav-next {
			width: 28%;
		}
		.has-both-sidebars .blog-pagination .nav-previous, .has-both-sidebars .blog-pagination .nav-index, .has-both-sidebars .blog-pagination .nav-next {
			width: 25%;
		}
		.fullwidth-layout .has-no-sidebar .pagination-wrap .nav-index {
			margin: 0 30px;
		}
		
		
		/* ASSETS */
		.client-item {
			width: 116px;
		}
		.client-item figure {
			width: 116px;
			height: 116px;
		}
		.sf-icon.icon-large.sf-icon-cont {
			padding: 24px;
		}
		article.type-team .article-body-wrap {
			width: 45%;
			margin-right: 20px;
		}
		article.type-team .profile-image-wrap {
			width: 52%;
		}
		.pricing-table-price {
			font-size: 26px;
		}
		.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
			width: 22.1%;
		}
		.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
			width: 30.3%;
		}
		.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
			width: 47%;
		}
		.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
			width: 97%;
		}
		.pricing-table-wrap.bordered .pricing-table-price {
			float: none;
			margin-top: 10px;
		}
		.recent-post {
			width: 156px;
		}
		.recent-post figure {
			min-height: 117px;
		}
	
		
		/* COMMENTS */		
		li.depth-1 .comment-wrap .comment-content {
			width: 394px;
		}
		li.depth-2 .comment-wrap .comment-content {
			width: 374px;
		}
		li.depth-3 .comment-wrap .comment-content {
			width: 354px;
		}
		li.depth-4 .comment-wrap .comment-content {
			width: 334px;
		}
		li.depth-5 .comment-wrap .comment-content {
			width: 314px;
		}
		li.depth-6 .comment-wrap .comment-content {
			width: 294px;
		}
		.has-both-sidebars li.depth-1 .comment-wrap .comment-content {
			width: 260px;
		}
		.has-both-sidebars li.depth-2 .comment-wrap .comment-content {
			width: 240px;
		}
		.has-both-sidebars li.depth-3 .comment-wrap .comment-content {
			width: 220px;
		}
		.has-both-sidebars li.depth-4 .comment-wrap .comment-content {
			width: 200px;
		}
		.has-both-sidebars li.depth-5 .comment-wrap .comment-content {
			width: 180px;
		}
		.has-both-sidebars li.depth-6 .comment-wrap .comment-content {
			width: 160px;
		}
			
			
		/* FOOTER */
		.widget.flickr-widget li {
			width: 76px;
			height: 76px;
		}
		.flickr-widget li img {
			height: 76px;
			min-height: 76px;
			min-width: 226px;
		}
		
		
		/* OTHER */
		
		#sidebar .widget.flickr-widget li {
			width: 44px;
			height: 44px;
		}
		#sidebar .flickr-widget li img {
			height: 44px;
			width: auto;
			min-height: 44px;
			min-width: 44px;
		}
		.has-one-sidebar .carousel-wrap .carousel-items > li {
			width: 141px;
		}
		.widget ul li > a {
		    padding: 4px 0;
		}
		.container .sidebar.four.columns.alpha {
		    margin-right: 0;
		}
		.has-left-sidebar aside.sidebar ul li:first-child {
		    margin-top: -6px;
		}
		#content-featured-image img.attachment-page-image.wp-post-image {
		    width: 100%;
		    height: auto;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		.fullwidth-layout .has-right-sidebar .pagination-wrap, .fullwidth-layout .has-left-sidebar .pagination-wrap {
			width: 494px!important;
		}
		
		
		/* VIDEO PLAYER */
		
		div.jp-video-full div.jp-jplayer img {
			display: none!important;
		}
		
		.has-left-sidebar aside.sidebar ul li {
		padding: 0;
		line-height: 1;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		/* GENERAL */
		.flex-pauseplay, .flex-control-nav {
			display: none;
		}
		.flex-direction-nav .prev {
			left: 0;
			opacity: 1;
		}
		.flex-direction-nav .next {
			right: 0;
			opacity: 1;
		}
	
		/* LAYOUT */
		.full-width {
			width: 460px!important;
			margin: 0 -20px!important;
		}
		.fullwidth-layout .full-width {
			width: 420px!important;
		}
		.fullwidth-layout .page-heading {
			width: 480px!important;
		}
		#logo img {
			margin: 0 auto;
			padding: 0!important;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
		.header-items .social-wrap {
			float: none;
			width: 100%;
		}
		.header-items .social-wrap ul {
			text-align: center;
		}
		.header-items .social-wrap li {
			float: none;
		}
		.header-items h3.phone-number {
			text-align: center;
		}
		#mini-header {
			display: none!important;
		}
		#header-login form {
			width: 100%;
			height: auto;
		}
		#header-login {
			margin: 0px -20px!important;
		}
		#header-login #username, #header-login #password {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
		#header-login .recover-password {
			float: none;
			padding: 0 0 10px;
			display: block;
			width: 100%;
			text-align: center;
		}
		#header-login #password, #header-login #username, #header-search input, #header-subscribe input {
			font-size: 14px;	
		}
		.pagination-wrap {
			margin-top: 30px!important;
		}
		.has-right-sidebar article, .has-right-sidebar .type-page, .has-right-sidebar .blog-listings {
			padding-right: 0;
			border-right: 0;
		}
		.has-left-sidebar article, .has-left-sidebar .type-page {
			padding-left: 0;
			border-left: 0;
		}
		.has-both-sidebars article, .has-both-sidebars .type-page {
			padding-right: 0;
			border-right: 0;
		}
		.has-both-sidebars .page-content {
			border-left: 0;
			padding-left: 0;
		}
		.container .sidebar.five.columns {
			width: 420px;
			padding-left: 0;
			padding-right: 0;
		}
		.container .sidebar.four.columns {
			width: 100%;
		}
		.has-right-sidebar .pagination-wrap, .has-left-sidebar .pagination-wrap, .has-both-sidebars .pagination-wrap {
			width: 460px!important;
		}
		.fullwidth-layout .has-both-sidebars .pagination-wrap, .fullwidth-layout .has-one-sidebar .pagination-wrap, .fullwidth-layout .has-no-sidebar .pagination-wrap {
			width: 420px!important;
		}
		.has-left-sidebar .pagination-wrap, .has-right-sidebar .pagination-wrap, .has-both-sidebars .pagination-wrap {
			margin: 30px -20px 0!important;
		}
		.fullwidth-layout .has-left-sidebar .pagination-wrap, .fullwidth-layout .has-right-sidebar .pagination-wrap, .fullwidth-layout .has-both-sidebars .pagination-wrap {
			margin: 30px 0!important;
		}
		.fullwidth-layout .pagination-wrap .nav-index {
			margin: 0 35px;
		}
		.has-right-sidebar article, .has-left-sidebar article {
			border: 0;
		}
		.has-both-sidebars article .page-content, .has-both-sidebars article {
			border: 0;
			padding-left: 0;
			padding-right: 0;
		}
		.wpb_text_column {
			margin-bottom: 30px;
		}
		
		/* HEADER */
		#main-navigation {
			display: none;
		}
		#mobile-navigation {
			display: block;
		}
		#menubar-controls {
			text-align: center;
			margin-bottom: 15px;
		}
		.fullwidth-layout #menubar-controls {
			padding-left: 0;
			margin-right: 0;
		}
		.logo-left #logo, .logo-right .header-items {
			margin-bottom: 30px;
		}
		.logo-center #logo, .logo-center .header-items {
			margin-bottom: 20px;
		}
		.logo-full #logo {
			padding-top: 80px;
		}
		#header-login form {
			width: 100%;
			height: auto;
		}
		#header-login {
			margin: 0px!important;
		}
		#header-login #username, #header-login #password {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
		#header-login .recover-password {
			float: none;
			padding: 0 0 10px;
			display: block;
			width: 100%;
			text-align: center;
		}
		#header-login #password, #header-login #username, #header-search input, #header-subscribe input {
			font-size: 14px;	
		}
		
		
		/* PAGE */
		.page-heading {
			padding: 23px 20px;
		}
		.page-heading.with-filtering h1 {
			width: 100%;
			margin-bottom: 30px;
		}
		
		
		/* PORTFOLIO - NO SIDEBAR */
		.portfolio-items li.four.columns, .portfolio-items li.thirds.columns, .portfolio-items li.eight.columns {
			width: 200px;
			margin: 0 10px 20px;
		}
		.portfolio-items li.four.columns figure, .portfolio-items li.four.columns figure img, .portfolio-items li.four.columns figure iframe, .portfolio-items li.thirds.columns figure, .portfolio-items li.thirds.columns figure img, .portfolio-items li.thirds.columns figure iframe, .portfolio-items li.eight.columns figure, .portfolio-items li.eight.columns figure img, .portfolio-items li.eight.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.portfolio-items.masonry-items li.four.columns, .portfolio-items.masonry-items li.four.columns figure, .portfolio-items.masonry-items li.four.columns figure img, .portfolio-items.masonry-items li.four.columns figure iframe, .portfolio-items.masonry-items li.thirds.columns, .portfolio-items.masonry-items li.thirds.columns figure, .portfolio-items.masonry-items li.thirds.columns figure img, .portfolio-items.masonry-items li.thirds.columns figure iframe, .portfolio-items.masonry-items li.eight.columns, .portfolio-items.masonry-items li.eight.columns figure, .portfolio-items.masonry-items li.eight.columns figure img, .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.portfolio-items li.four.columns.bordered figure, .portfolio-items li.four.columns.bordered figure img, .portfolio-items li.four.columns.bordered figure iframe, .portfolio-items li.thirds.columns.bordered figure, .portfolio-items li.thirds.columns.bordered figure img, .portfolio-items li.thirds.columns.bordered figure iframe, .portfolio-items li.eight.columns.bordered figure, .portfolio-items li.eight.columns.bordered figure img, .portfolio-items li.eight.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.portfolio-items li.one-col {
			width: 420px;
			margin: 0 10px 20px;
		}
		.portfolio-items li.one-col figure {
			width: 420px;
			float: none;
			margin-right: 0;
		}
		.portfolio-items li.one-col .portfolio-item-details {
			float: none;
			width: 100%;
		}
		.portfolio-items li.one-col.bordered, .portfolio-items li.one-col.bordered figure {
			width: 408px;
		}
		.portfolio-items li.one-col.gallery figure {
			width: 100%;
		}
		.portfolio-items li.one-col.gallery.bordered figure {
			width: 408px;
		}
		.portfolio-details-wrap .client, .portfolio-details-wrap .date, .portfolio-details-wrap .tags {
			display: block;
			margin-bottom: 5px;
		}
		.portfolio-details-wrap .item-link {
			float: none;
		}
		
		
		/* PORTFOLIO - ONE SIDEBAR */
		.has-one-sidebar .portfolio-items li.four.columns {
			width: 200px;
		}
		.has-one-sidebar .portfolio-items li.four.columns figure, .has-one-sidebar .portfolio-items li.four.columns figure img, .has-one-sidebar .portfolio-items li.four.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.four.columns, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.four.columns.bordered figure, .has-one-sidebar .portfolio-items li.four.columns.bordered figure img, .has-one-sidebar .portfolio-items li.four.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns {
			width: 200px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns figure, .has-one-sidebar .portfolio-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items li.thirds.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.thirds.columns, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns.bordered figure, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure img, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns {
			width: 200px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns figure, .has-one-sidebar .portfolio-items li.eight.columns figure img, .has-one-sidebar .portfolio-items li.eight.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.eight.columns, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.eight.columns.bordered figure, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure img, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.has-one-sidebar .portfolio-items li.one-col figure, .has-one-sidebar .portfolio-items li.one-col .portfolio-item-details, .portfolio-items li.one-col.bordered .portfolio-item-details {
			width: 420px;
			float: none;
		}
		.has-one-sidebar .portfolio-items li.one-col.gallery figure {
			width: 420px;
		}
		.has-one-sidebar .portfolio-items li.one-col.bordered figure {
			width: 408px;
		}

		
		/* PORTFOLIO - BOTH SIDEBARS */
		.has-both-sidebars .portfolio-items li.eight.columns {
			width: 200px;
		}
		.has-both-sidebars .portfolio-items li.eight.columns figure, .has-both-sidebars .portfolio-items li.eight.columns figure img, .has-both-sidebars .portfolio-items li.eight.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.has-both-sidebars .portfolio-items.masonry-items li.eight.columns, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure img, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.has-both-sidebars .portfolio-items li.eight.columns.bordered figure, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure img, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.has-both-sidebars .portfolio-items li.one-col.gallery figure, .has-both-sidebars .portfolio-items li.one-col figure, .has-both-sidebars .portfolio-items li.one-col .portfolio-item-details {
			width: 420px;
		}
		.has-both-sidebars .portfolio-items li.one-col.bordered figure {
			width: 408px;
		}
		
		
		/* BLOG */
		.mini-items .blog-item figure, .has-no-sidebar .mini-items .blog-item figure, .has-both-sidebars .mini-items .blog-item figure {
			width: 420px;
			float: none;
			margin-bottom: 10px;
		}
		.has-one-sidebar .masonry-items .blog-item, .has-no-sidebar .masonry-items .blog-item, .has-both-sidebars .masonry-items .blog-item {
			width: 420px;
		}
		.related-wrap {
			padding: 30px 20px;
			margin: 0 -20px 40px -20px;
		}
		.container .related-item.four.columns, .container .has-both-sidebars .related-item.four.columns, .container .has-no-sidebar .related-item.four.columns {
			width: 90px;
			margin: 0 10px 20px;
		}
		.related-item figure > a, .has-both-sidebars .related-item figure > a, .has-no-sidebar .related-item figure > a {
			width: 90px;
			height: 62px;
		}
		.related-item figcaption {
			min-height: 36px;
		}
		.pagination-wrap .nav-previous {
			padding-left: 20px;
		}
		.author-info, .has-both-sidebars .author-info {
			width: 77%;
		}
		.has-no-sidebar .blog-pagination .nav-previous, .has-no-sidebar .blog-pagination .nav-index, .has-no-sidebar .blog-pagination .nav-next {
			width: 26%;
		}
		.has-both-sidebars .blog-pagination .nav-previous, .has-both-sidebars .blog-pagination .nav-index, .has-both-sidebars .blog-pagination .nav-next {
			width: 28%;
		}
		.pagination-wrap .nav-index, .has-both-sidebars .pagination-wrap .nav-index {
			margin: 0 19px;
		}
		.pagination-wrap .nav-previous {
			padding-left: 20px;
		}
		.pagination-wrap .nav-next {
			padding-right: 20px!important;
		}
		.fullwidth-layout .has-no-sidebar .blog-pagination .nav-previous, .fullwidth-layout .has-no-sidebar .blog-pagination .nav-index, .fullwidth-layout .has-no-sidebar .blog-pagination .nav-next {
			width: 27%;
		}
		.fullwidth-layout .has-no-sidebar .pagination-wrap .nav-index {
			margin: 0 36px;
		}
		.carousel-items li.blog-item.four.columns {
			width: 200px;
			margin: 0 10px 20px;
		}
		.share-buttons span {
			margin-bottom: 10px;
			display: inline-block;
		}
		
		/* FOOTER */
		#footer-widgets {
			margin: 0;
		}
		#footer-widgets .four.columns {
			width: 100%;
		}
		#copyright p {
			text-align: center;
			width: 100%;
			margin-bottom: 30px;
		}
		.fullwidth-layout #copyright p {
			padding-left: 0;
		}
		#copyright .beam-me-up {
			width: 100%;
			float: none;
			text-align: center;
		}
		
		
		/* ASSETS */
		.recent-posts {
			margin-right: 0;
		}
		.recent-post {
			width: 200px;
		}
		.recent-post figure {
			min-height: 150px;
		}
		.wpb_impact_text .wpb_call_text, .wpb_impact_text p {
			width: 100%;
			text-align: center;
			float: none;
		}
		.wpb_impact_text .wpb_button {
			margin: 20px auto 0;
			float: none;
			text-align: center;
			display: block;
		}
		.client-item {
			width: 122px;
		}
		.client-item figure {
			width: 122px;
			height: 122px;
		}
		.team-members li.four.columns {
			width: 200px;
		}
		.faqs-nav li {
			width: 92%;
		}
		.team-members li.four.columns {
			margin: 0 10px 30px;
		}
		article.type-team .article-body-wrap {
			width: 100%;
			margin-right: 0;
			float: none;
		}
		article.type-team .profile-image-wrap {
			width: 100%;
			float: none;
			margin-bottom: 20px;
		}
		article.type-team .member-position {
			margin-bottom: 20px;
		}
		.columns-4 .pricing-table-column {
			width: 50%;
		}
		.pricing-table-wrap.bordered .pricing-table-price {
			float: right;
			margin-top: 0;
		}
		.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
			width: 45.3%;
			margin-bottom: 10px;
		}
		.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
			width: 95.5%;
			margin-bottom: 10px;
		}
		.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
			width: 45.3%;
		}
		.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
			width: 95.5%;
		}
		.carousel-wrap .carousel-items > li:first-child {
			margin-left: 0px!important;
		}
		.labelled-pricing-table.columns-5 .pricing-table-column {
			width: 25%;
		}
		.labelled-pricing-table.columns-4 .pricing-table-column {
			width: 33.3%;
		}
		.labelled-pricing-table.columns-3 .pricing-table-column {
			width: 50%;
		}
		.labelled-pricing-table.columns-2 .pricing-table-column {
			width: 100%;
		}
		.labelled-pricing-table .label-column {
			display: none;
		}
		.labelled-pricing-table .pricing-table-label-row {
			display: block;
		}
	
		
		/* VIDEO PLAYER */
		div.jp-video-full .interface-wrap {
			width: 100%;
		}
		div.jp-video .jp-jplayer, div.jp-video .jp-jplayer video {
			width: 100%!important;
			height: 236px!important;
		}
		div.jp-video-full .jp-jplayer, div.jp-video-full .jp-jplayer video {
			width: 100%!important;
			height: 100%!important;
		}
		div.jp-video div.jp-jplayer img {
			width: 100%!important;
		}
		div.jp-video .jp-progress, div.jp-video.jp-video-530p .jp-progress {
			width: 204px;
		}
		
		
		/* COMMENTS */
		li.depth-1 .comment-wrap .comment-content, .has-both-sidebars li.depth-1 .comment-wrap .comment-content {
			width: 350px;
		}
		li.depth-2 .comment-wrap .comment-content, .has-both-sidebars li.depth-2 .comment-wrap .comment-content {
			width: 330px;
		}
		li.depth-3 .comment-wrap .comment-content, .has-both-sidebars li.depth-3 .comment-wrap .comment-content {
			width: 310px;
		}
		li.depth-4 .comment-wrap .comment-content, .has-both-sidebars li.depth-4 .comment-wrap .comment-content {
			width: 290px;
		}
		li.depth-5 .comment-wrap .comment-content, .has-both-sidebars li.depth-5 .comment-wrap .comment-content {
			width: 270px;
		}
		li.depth-6 .comment-wrap .comment-content, .has-both-sidebars li.depth-6 .comment-wrap .comment-content {
			width: 250px;
		}
				
		
		/* OTHER */
		
		.widget.flickr-widget li {
			width: 185px;
			height: 104px;
		}
		.flickr-widget li img {
			height: 104px;
			min-height: 185px;
			min-width: 104px;
		}
		.flickr_images {
			margin-right: 0;
		}
		#sidebar .widget.flickr-widget li {
			width: 64px;
			height: 64px;
		}
		#sidebar .flickr-widget li img {
			height: 64px;
			width: auto;
			min-height: 64px;
			min-width: 64px;
		}
		ul.products li.product {
			margin: 0 20px 2.992em 0;
			width: 47%;
		}
		
		.has-left-sidebar aside.sidebar ul li {
		    padding: 0;
		    margin-bottom: 10px;
		    line-height: 1;
		    background-color: #2b2b2b;
		}
		#header-section div.container header.sixteen.columns div.header-items.one-third.column {
		    display: none;
		}
		ul#findipinfowp, section#ip-address-widget {
		    width: 430px;
		}
		ul#findipinfowp li {
		    margin-bottom: 10px;
		}
		div#empty_box.four.columns.alpha {
		    height: 5px;
		}
		
	}
	
    
    	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.fullwidth-layout .related-wrap {
		margin: 0 -30px 40px -30px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {	
	
		/* GENERAL */
		.flex-direction-nav {
			display: none;
		}
		#header-login #password, #header-login #username, #header-search input {
			font-size: 12px;	
		}
		#header-subscribe input {
			font-size: 11px;
		}
	
		/* LAYOUT */
		.full-width {
			width: 320px!important;
			margin: 0 -10px;
		}	
		.fullwidth-layout .full-width {
			width: 300px!important;
		}
		.fullwidth-layout .full-width.pagination-wrap {
			width: 280px!important;
		}
		.fullwidth-layout .page-heading {
			width: 320px!important;
		}
		.container .sidebar.five.columns {
			width: 280px;
		}
		.has-right-sidebar .pagination-wrap, .has-left-sidebar .pagination-wrap, .has-both-sidebars .pagination-wrap {
			width: 320px!important;
		}
		.fullwidth-layout .has-one-sidebar .pagination-wrap, .fullwidth-layout .has-both-sidebars .pagination-wrap, .fullwidth-layout .has-no-sidebar .pagination-wrap {
			width: 280px!important;
		}
		#copyright {
			padding: 30px 0;
		}
		
		
		/* PORTFOLIO - NO SIDEBAR */
		.portfolio-items li.four.columns, .portfolio-items li.thirds.columns, .portfolio-items li.eight.columns {
			width: 280px;
		}
		.portfolio-items li.four.columns figure, .portfolio-items li.four.columns figure img, .portfolio-items li.four.columns figure iframe, .portfolio-items li.thirds.columns figure, .portfolio-items li.thirds.columns figure img, .portfolio-items li.thirds.columns figure iframe, .portfolio-items li.eight.columns figure, .portfolio-items li.eight.columns figure img, .portfolio-items li.eight.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.portfolio-items.masonry-items li.four.columns, .portfolio-items.masonry-items li.four.columns figure, .portfolio-items.masonry-items li.four.columns figure img, .portfolio-items.masonry-items li.four.columns figure iframe, .portfolio-items.masonry-items li.thirds.columns, .portfolio-items.masonry-items li.thirds.columns figure, .portfolio-items.masonry-items li.thirds.columns figure img, .portfolio-items.masonry-items li.thirds.columns figure iframe, .portfolio-items.masonry-items li.eight.columns, .portfolio-items.masonry-items li.eight.columns figure, .portfolio-items.masonry-items li.eight.columns figure img, .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.portfolio-items li.four.columns.bordered figure, .portfolio-items li.four.columns.bordered figure img, .portfolio-items li.four.columns.bordered figure iframe, .portfolio-items li.thirds.columns.bordered figure, .portfolio-items li.thirds.columns.bordered figure img, .portfolio-items li.thirds.columns.bordered figure iframe, .portfolio-items li.eight.columns.bordered figure, .portfolio-items li.eight.columns.bordered figure img, .portfolio-items li.eight.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.portfolio-items li.one-col, .portfolio-items li.one-col figure {
			width: 280px;
		}
		.portfolio-items li.one-col.bordered, .portfolio-items li.one-col.bordered figure, .portfolio-items li.one-col.gallery.bordered figure {
			width: 268px;
		}
		
		
		/* PORTFOLIO - ONE SIDEBAR */
		.has-one-sidebar .portfolio-items li.four.columns {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.four.columns figure, .has-one-sidebar .portfolio-items li.four.columns figure img, .has-one-sidebar .portfolio-items li.four.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.four.columns, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.four.columns.bordered figure, .has-one-sidebar .portfolio-items li.four.columns.bordered figure img, .has-one-sidebar .portfolio-items li.four.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns figure, .has-one-sidebar .portfolio-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items li.thirds.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.thirds.columns, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns.bordered figure, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure img, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns figure, .has-one-sidebar .portfolio-items li.eight.columns figure img, .has-one-sidebar .portfolio-items li.eight.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.eight.columns, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.eight.columns.bordered figure, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure img, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.has-one-sidbar .portfolio-items li.one-col figure, .has-one-sidebar .portfolio-items li.one-col .portfolio-item-details {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.one-col.gallery figure {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.one-col.bordered figure {
			width: 268px;
		}
		
		
		/* PORTFOLIO - BOTH SIDEBARS */
		.has-both-sidebars .portfolio-items li.eight.columns {
			width: 280px;
		}
		.has-both-sidebars .portfolio-items li.eight.columns figure, .has-both-sidebars .portfolio-items li.eight.columns figure img, .has-both-sidebars .portfolio-items li.eight.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.has-both-sidebars .portfolio-items.masonry-items li.eight.columns, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure img, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.has-both-sidebars .portfolio-items li.eight.columns.bordered figure, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure img, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.has-both-sidebars .portfolio-items li.one-col.gallery figure, .has-both-sidebars .portfolio-items li.one-col figure, .has-both-sidebars .portfolio-items li.one-col .portfolio-item-details {
			width: 280px;
		}
		.has-both-sidebars .portfolio-items li.one-col.bordered figure {
			width: 268px;
		}
		
		
		/* BLOG */
		.mini-items .blog-item figure, .has-no-sidebar .mini-items .blog-item figure, .has-both-sidebars .mini-items .blog-item figure {
			width: 280px;
		}
		.has-one-sidebar .masonry-items .blog-item, .has-no-sidebar .masonry-items .blog-item, .has-both-sidebars .masonry-items .blog-item {
			width: 280px;
		}
		.comments-likes {
			float: none;
			margin-top: 10px;
		}
		.masonry-items .blog-item .comments-likes {
			float: right;
			margin-top: 0;
		}
		.container .related-item.four.columns, .container .has-both-sidebars .related-item.four.columns, .container .has-no-sidebar .related-item.four.columns {
			width: 130px;
		}
		.related-item figure > a, .has-both-sidebars .related-item figure > a, .has-no-sidebar .related-item figure > a {
			width: 130px;
			height: 90px;
		}
		.author-info, .has-both-sidebars .author-info {
			width: 66%;
		}
		.blog-pagination .nav-previous, .blog-pagination .nav-index, .blog-pagination .nav-next, .has-both-sidebars .blog-pagination .nav-previous, .has-both-sidebars .blog-pagination .nav-index, .has-both-sidebars .blog-pagination .nav-next, .has-no-sidebar .blog-pagination .nav-previous, .has-no-sidebar .blog-pagination .nav-index, .has-no-sidebar .blog-pagination .nav-next {
			width: 27%;
		}
		.pagination-wrap .nav-index, .has-no-sidebar .pagination-wrap .nav-index, .has-both-sidebars .pagination-wrap .nav-index {
			margin: 0 6px;
		}
		.fullwidth-layout .pagination-wrap .nav-index {
			margin: 0 22px;
		}
		.carousel-items li.blog-item.four.columns {
			width: 280px;
		}
		
		/* ASSETS */
		.recent-post {
			width: 280px;
			margin-bottom: 20px;
		}
		.recent-post figure {
			min-height: 210px;
		}
		.client-item {
			width: 137px;
		}
		.client-item figure {
			width: 137px;
			height: 137px;
		}
		.team-members li.four.columns {
			width: 280px;
		}
		.columns-3 .pricing-table-column {
			width: 100%;
			margin-bottom: 10px;
		}
		.columns-3 .pricing-table-column {
			border-left-width: 1px;
		}
		.columns-2 .pricing-table-column {
			width: 50%;
		}
		.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
			width: 94%;
		}
		.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
			width: 94%;
		}
		.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
			width: 94%;
			margin-bottom: 10px;
		}
		.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
			width: 94%;
		}
		.labelled-pricing-table.columns-5 .pricing-table-column {
			width: 50%;
		}
		.labelled-pricing-table.columns-5 .pricing-table-column {
			margin-top: 0;
			padding-left: 0;
		}
		.labelled-pricing-table.columns-5 .column-highlight .lpt-button-wrap {
			padding: 20px 10px;
		}
		.labelled-pricing-table.columns-5 .pricing-table-package {
			padding: 9px 5px 8px;
		}
		
		/* VIDEO PLAYER */
		
		div.jp-video-full div.jp-jplayer img {
			display: none!important;
		}
		div.jp-video-full .interface-wrap {
			width: 100%;
		}
		div.jp-video .jp-jplayer, div.jp-video .jp-jplayer video {
			width: 100%!important;
			height: 170px!important;
		}
		div.jp-video-full .jp-jplayer, div.jp-video-full .jp-jplayer video {
			width: 100%!important;
			height: 100%!important;
		}
		div.jp-video div.jp-jplayer img {
			width: 100%!important;
		}
		div.jp-video .jp-progress, div.jp-video.jp-video-530p .jp-progress {
			width: 188px;
		}
		div.jp-volume-bar {
			display: none!important;
		}
		
		
		/* COMMENTS */
		.comment-wrap .comment-content {
			width: 84%;
			margin-left: 0;
		}
		.comment-wrap .comment-avatar {
			display: none;
		}
		.comment .children > li {
			padding: 0 0 0 15px;
			background-position: 0 5px;
		}
		.comment .children > li .comment-wrap {
			padding-left: 0;
		}
		.comment .avatar-arrow {
			display: none;
		}
		li.depth-1 .comment-wrap .comment-content, .has-both-sidebars li.depth-1 .comment-wrap .comment-content {
			width: 270px;
		}
		li.depth-2 .comment-wrap .comment-content, .has-both-sidebars li.depth-2 .comment-wrap .comment-content {
			width: 255px;
		}
		li.depth-3 .comment-wrap .comment-content, .has-both-sidebars li.depth-3 .comment-wrap .comment-content {
			width: 240px;
		}
		li.depth-4 .comment-wrap .comment-content, .has-both-sidebars li.depth-4 .comment-wrap .comment-content {
			width: 225px;
		}
		li.depth-5 .comment-wrap .comment-content, .has-both-sidebars li.depth-5 .comment-wrap .comment-content {
			width: 210px;
		}
		li.depth-6 .comment-wrap .comment-content, .has-both-sidebars li.depth-6 .comment-wrap .comment-content {
			width: 195px;
		}
		
		
		/* OTHER */
		
		.widget.flickr-widget li {
			width: 125px;
			height: 85px;
		}
		.flickr-widget li img {
			height: 85px;
			min-height: 85px;
			min-width: 125px;
		}
		.one_half, .one_third, .two_third, .three_fourth, .one_fourth {
			width: 96%;
			margin-bottom: 10px;
		}
		ul.social-icons {
			margin-right: 0;
		}
		#sidebar .widget.flickr-widget li {
			width: 80px;
			height: 80px;
		}
		#sidebar .flickr-widget li img {
			height: 80px;
			width: auto;
			min-height: 80px;
			min-width: 80px;
		}
		ul.products li.product {
			margin: 0 0 2.992em 0;
			width: 100%;
		}
	}